.logo {
  display: inline-block;

  font-family: "Raleway", sans-serif;

  @include font(26px, 1.19, 0.03em);
  font-weight: 700;
  text-decoration: none;
  color: $titleTextColor;
}
.logo--header {
  margin-right: 93px;
}
.logo--inverse {
  color: $heroTitleColor;
}
.logo__accent {
  color: $accentColor;
}
