$primaryTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196f3;
$accentIconColor: #188ce8;
$darkBgdColor: #2f303a;
$heroTitleColor: #ffffff;
$contactsTextColor: rgba(255, 255, 255, 0.6);
$labelBgCl: rgba(47, 48, 58, 0.8);
$teamBgColor: #f5f4fa;
$filterBgColor: #f5f4fa;
$iconColor: #afb1b8;
$worksOverlay: rgba(33, 150, 243, 0.9);
$backdropColor: rgba(0, 0, 0, 0.2);
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
