.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
}
.filter__item {
  margin-bottom: 15px;
  &:not(:last-child) {
    margin-right: 8px;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}
.filter__button {
  @extend %button;
  padding: 6px 22px;
  background-color: $filterBgColor;
  font-weight: 500;
  @include font(16px, 1.62, 0.03em);

  &:hover,
  &:focus {
    color: $heroTitleColor;
    background: $accentColor;
  }
}
