.page-header {
  position: relative;
}
.header-container {
  padding: 10px 15px;
  margin-left: auto;
  margin-right: auto;

  @include flex(flex, space-between);

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

//   // padding-top: 24px;
//   // padding-bottom: 25px;
// }
// .menu {
//   display: flex;
//   width: inherit;
//   justify-content: space-between;
// }
