.hero {
  text-align: center;
}

.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero--overlay {
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mobile/hero.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/hero@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/hero.jpg);
    max-width: 768px;
    height: 400px;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tablet/hero@2x.jpg);
    }
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/hero.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desktop/hero@2x.jpg);
    }
  }
  background-color: $darkBgdColor;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  text-transform: uppercase;

  color: $heroTitleColor;
  @include font(26px, 1.61, 0.06em, 900);

  @media screen and (min-width: $desktop) {
    @include font(44px, 1.36, 0.06em, 900);
    max-width: 700px;
  }
}

.button__hero {
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;

  @include font(16px, 1.87, 0.06em);
  color: $heroTitleColor;
  background-color: $accentColor;
  font-family: inherit;
  text-align: center;
  transition: color 250ms $timingFunction,
    background-color 250ms $timingFunction;

  &:hover,
  &:focus {
    color: $accentColor;
    background-color: $heroTitleColor;
  }
}
