.qualities__list {
  display: block;

  @media screen and (min-width: 480px) {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.qualities__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &::before {
    content: "";
    display: block;
    height: 120px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    background-color: $filterBgColor;
  }

  &:nth-child(1)::before {
    background-image: url(../images/vector1.svg);
  }
  &:nth-child(2)::before {
    background-image: url(../images/vector2.svg);
  }
  &:nth-child(3)::before {
    background-image: url(../images/vector3.svg);
  }
  &:nth-child(4)::before {
    background-image: url(../images/vector4.svg);
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    flex-basis: calc(100% / 4 - 30px);
  }
}

.qualities__desc {
  margin-top: 10px;
  margin-bottom: 0;
}
.qualities__caption {
  @extend %captions;
}
