.site-nav {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    @include flex(flex, center, center);
  }
}
.site-nav__link {
  padding-top: 8px;
  padding-bottom: 8px;
  color: $titleTextColor;
  transition: color 250ms $timingFunction;

  &--current {
    position: relative;
    color: $accentColor;

    &::after {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      bottom: -4px;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accentColor;
      @media screen and (min-width: 768px) {
        bottom: -24px;
        margin-bottom: 0;
      }
      @media screen and (min-width: 1200px) {
        bottom: -28px;
      }
    }
  }
}
.site-nav__link {
  @extend %nav-link;
}
.site-nav__item:last-child {
  @media screen and (min-width: 768px) {
    margin-right: 84px;
  }
}
.site-nav__item:not(:last-child) {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}
.site-nav__item.site-nav__item--current {
  @media screen and (max-width: 767px) {
    margin-bottom: 52px;
  }
}
