.team {
  background-color: $teamBgColor;
}

.team__list {
  @media screen and (min-width: 768px) {
    display: flex;
    // margin-right: -30px;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-right: -30px;
    flex-wrap: wrap;
  }
}

.team__headline {
  @extend %titles-adaptiv;
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
